/* aeries-sans-800 Extra Bold*/
@font-face {
  font-family: 'Aeries Sans';
  font-display: swap;
  font-style: normal;
  font-weight: 800;
  src: 
    local('Aeries Sans ExtraBold'),
    local('Aeries Sans-ExtraBold')
    url('.files/AeriesSansExtraBold.woff2') format('woff2'), /* Super Modern Browsers */
    url('.files/AeriesSansExtraBold.woff') format('woff'); /* Modern Browsers */
}

/* aeries-sans-700 Bold */
@font-face {
  font-family: 'Aeries Sans';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: 
    local('Aeries Sans Bold'),
    local('Aeries Sans-Bold')
    url('.files/AeriesSansBold.woff2') format('woff2'), /* Super Modern Browsers */
    url('.files/AeriesSansBold.woff') format('woff'); /* Modern Browsers */
}

/* aeries-sans-600 Semi-Bold */
@font-face {
  font-family: 'Aeries Sans';
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: 
    local('Aeries Sans SemiBold'),
    local('Aeries Sans-SemiBold')
    url('.files/AeriesSansSemiBold.woff2') format('woff2'), /* Super Modern Browsers */
    url('.files/AeriesSansSemiBold.woff') format('woff'); /* Modern Browsers */
}

/* aeries-sans-400 Medium */
@font-face {
  font-family: 'Aeries Sans';
  font-style: normal;
  font-weight: 400;
  src: 
    local('Aeries Sans Medium'),
    local('Aeries Sans-Medium')
    url('.files/AeriesSansMedium.woff2') format('woff2'), /* Super Modern Browsers */
    url('.files/AeriesSansMedium.woff') format('woff'); /* Modern Browsers */
}

/* aeries-sans-300 Light */
@font-face {
  font-family: 'Aeries Sans';
  font-style: normal;
  font-weight: 300;
  src: 
    local('Aeries Sans Light'),
    local('Aeries Sans-Light')
    url('.files/AeriesSansLight.woff2') format('woff2'), /* Super Modern Browsers */
    url('.files/AeriesSansLight.woff') format('woff'); /* Modern Browsers */
}

/* aeries-sans-200 Thin*/
@font-face {
  font-family: 'Aeries Sans';
  font-style: normal;
  font-weight: 200;
  src: 
    local('Aeries Sans Thin'),
    local('Aeries Sans-Thin')
    url('.files/AeriesSansThin.woff2') format('woff2'), /* Super Modern Browsers */
    url('.files/AeriesSansThin.woff') format('woff'); /* Modern Browsers */
}
